# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres


# MQTT / CloudAMQP
MQTT_BROKER_HOST=your-cloudamqp-host
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=sensors/#

# Playwright
VENDOR_URL=dashboard-url
USERNAME=username-login
PASSWORD=password-login
DOWNLOAD_FOLDER=folder-download

# FastAPI
DOWNLOAD_FOLDER=/shared/downloads


# ML model path (relative inside container)
ML_MODEL_PATH=/app/app/ml/model.pkl