DATABASE_URL=mysql+pymysql://root:password123@db:3306/vending_forecast
MQTT_BROKER_HOST=your-cloudamqp-host
MQTT_BROKER_PORT=1883
MQTT_USERNAME=youruser
MQTT_PASSWORD=yourpass
MQTT_TOPIC=sensors/

ML_MODEL_PATH=/app/app/ml/model.pkl
DOWNLOAD_FOLDER=/shared/downloads

VENDOR_URL=https://example.com
USERNAME=admin
PASSWORD=admin123
